<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>vip.appcity.workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0987B7DB-E23B-47CB-A1BC-7C9E0C1EEDC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E33E5C-F847-45D3-82C6-C5338DBBC2A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68E33E5C-F847-45D3-82C6-C5338DBBC2A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9936CB5-3AA7-4B41-A84E-6BFD3C65BEA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9AF82F3-7946-4F11-B0CF-F1E9857B5A1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9936CB5-3AA7-4B41-A84E-6BFD3C65BEA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9936CB5-3AA7-4B41-A84E-6BFD3C65BEA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2133823-ABFB-4F89-ADE1-748B7F15F4A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2133823-ABFB-4F89-ADE1-748B7F15F4A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C2A6B9-478E-4F17-8790-D23504E7F10E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>juforg</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Csv2json</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Finder"
    set query to get POSIX path of (item 1 of (get selection as alias list)as alias)
	return query
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>68E33E5C-F847-45D3-82C6-C5338DBBC2A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>csv2json</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>csv文件转换json</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0987B7DB-E23B-47CB-A1BC-7C9E0C1EEDC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C9AF82F3-7946-4F11-B0CF-F1E9857B5A1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F2133823-ABFB-4F89-ADE1-748B7F15F4A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python csv2json.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E9936CB5-3AA7-4B41-A84E-6BFD3C65BEA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>json串已在剪切板中</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>54C2A6B9-478E-4F17-8790-D23504E7F10E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>以大多数人的努力程度之低还轮不到拼天赋</string>
	<key>uidata</key>
	<dict>
		<key>0987B7DB-E23B-47CB-A1BC-7C9E0C1EEDC0</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>54C2A6B9-478E-4F17-8790-D23504E7F10E</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>68E33E5C-F847-45D3-82C6-C5338DBBC2A7</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>C9AF82F3-7946-4F11-B0CF-F1E9857B5A1B</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>E9936CB5-3AA7-4B41-A84E-6BFD3C65BEA0</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>F2133823-ABFB-4F89-ADE1-748B7F15F4A4</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://appcity.vip</string>
</dict>
</plist>
